[color]
    ui = auto
[alias]
    co = checkout
    com = commit
    coma = commit -a
    comaa = commit -a --amend
    cp = cherry-pick
    br = branch
    st = status
    rb = rebase
    po = push origin
    pop = push origin production:production
    f = fetch
    dom = diff origin/master
    domh = diff origin/master HEAD
    rbom = rebase origin/master
    rbop = rebase origin/production
